# Polynomial and interaction features on a fixed two-column dataset

This notebook creates a fixed sample DataFrame with two numeric columns (`x`, `y`) and adds polynomial features (`x^2`, `x^3`) and an interaction term (`x*y`). We'll show both a manual approach and, optionally, a scikit-learn approach.

In [13]:
import pandas as pd

# Fixed sample data (two numeric columns)
# You can adjust values as needed, but keep structure fixed for reproducibility

df = pd.DataFrame({
    'x': [0, 1, 2, 3, 4, 5],
    'y': [10, 9, 7, 5, 3, 1],
})

df

   x   y
0  0  10
1  1   9
2  2   7
3  3   5
4  4   3
5  5   1

In [14]:
# Manual polynomial and interaction features
poly_df = df.copy()
poly_df['x^2'] = poly_df['x'] ** 2
poly_df['x^3'] = poly_df['x'] ** 3
poly_df['x*y'] = poly_df['x'] * poly_df['y']
poly_df

   x   y  x^2  x^3  x*y
0  0  10    0    0    0
1  1   9    1    1    9
2  2   7    4    8   14
3  3   5    9   27   15
4  4   3   16   64   12
5  5   1   25  125    5

In [15]:
from sklearn.preprocessing import PolynomialFeatures

X = df[['x', 'y']].values
poly = PolynomialFeatures(degree=3, include_bias=False, interaction_only=False)
X_poly = poly.fit_transform(X)
feature_names = poly.get_feature_names_out(['x', 'y'])

skl_df = pd.DataFrame(X_poly, columns=feature_names)
# Show just the columns of interest
skl_df[['x', 'x^2', 'x^3', 'x y']]

     x   x^2    x^3   x y
0  0.0   0.0    0.0   0.0
1  1.0   1.0    1.0   9.0
2  2.0   4.0    8.0  14.0
3  3.0   9.0   27.0  15.0
4  4.0  16.0   64.0  12.0
5  5.0  25.0  125.0   5.0